.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    
  }
  
  .resultContainer {
    flex: 1;
  
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input:not([type="radio"]) {
    margin-left: 30px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
  }
  
  input:not([type="radio"]):hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: 0.5s;
  }
  input[type="radio"] {
    cursor: pointer;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  label {
    display: block;
    
    font-weight: bold;
   
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
  
  }
  button {
    --color: #00a97f;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
  }
  button[type="reset"] {
    --color: red;
    border-color: red;
  }
  button::before,
  .button::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
  }
  
  button::before {
    top: -1em;
    left: -1em;
  }
  
  button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }
  
  button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }
  
  button:hover {
    color: rgb(10, 25, 30);
  }
  
  button:active {
    filter: brightness(0.8);
  }
  
  
  
  select {
  
    background: none;
    border: none;
    outline: none;
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 99px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
    cursor: pointer;
   }
  